
services:
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: unless-stopped

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.0
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      # - ES_JAVA_OPTS=-Xms1g -Xmx1g
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    restart: unless-stopped

  rag-app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - ollama
      - elasticsearch
    volumes:
      - ./app:/app
      # - ./app/csv:/app/csv
      # - ./app/pdf:/app/pdf
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - OLLAMA_BASE_URL=http://ollama:11434
      - DOCUMENT_PATH_CSV=/app/csv/tags_MRO3.csv
      - DOCUMENT_PATH_PDF=/app/pdf/Codigo_Civil_split.pdf
      - INDEX_NAME_CSV=tags_mro3_index
      - INDEX_NAME_PDF=codigo_civil_index
      - DATA_SOURCE=CSV
    entrypoint: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    restart: unless-stopped

volumes:
  ollama_models:
  elasticsearch_data:
